<div class="container">
    <h3 class="display-5 offset-1">Please click on any of the below tasks</h3>
    <p class=" offset-1">Note : Give username and password as "name" and "name@123" in task -1 to explore other tasks!!!</p>

    <div class="row m-5 ">
        <a [routerLink]="['/task1']" class="col-3 text-decoration-none">Task-1</a>
        <a [routerLink]="['/task2']" class="col-3 text-decoration-none">Task-2</a>
        <a [routerLink]="['/task3']" class="col-3 text-decoration-none">Task-3</a>
        <a [routerLink]="['/task4']" class="col-3 text-decoration-none">Task-4</a>
    </div>

    <div class="m-5">
        <router-outlet></router-outlet>
    </div>
</div>